# Setup the NodeJS version for this project
export NODE_VERSIONS=~/.nvm/versions/node
export NODE_VERSION_PREFIX=v
if [ -e $NODE_VERSIONS ]; then
  watch_file .node-version
  use node
fi

if [ -e $PWD/node_modules/.bin ]; then
  layout node
fi


if [ -e .envrc.private ]; then
  watch_file .envrc.private
  source_env .envrc.private
fi

PATH_add bin/

layout python
